<div class="logo">
    <a href="#" class="simple-text">
        <div class="logo-img">
        </div>
        aptdeal
    </a>
</div>
<div class="sidebar-wrapper">
    <div class="nav-container">
        <ul class="nav">
            <li>
                <a href="#">                    
                    <p><md-icon>star</md-icon> Offers</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p><md-icon>dashboard</md-icon> All Categories</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p><md-icon>tv</md-icon> Electronics</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p><md-icon>smartphone</md-icon> Mobiles &amp; Tablets</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p><md-icon>desktop_windows</md-icon> Computer &amp; Gaming</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p><md-icon>location_city</md-icon> Home &amp; Kitchen</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p><md-icon>favorite</md-icon> Fashions</p>
                </a>
            </li>
        </ul>
    </div>
</div>